@tailwind base;
@tailwind components;
@tailwind utilities;

[data-char] {
    color: transparent;
    position: relative;
}

[data-char]:after {
    --txt: attr(data-char);
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-timing-function: steps(1);
    animation-fill-mode: backwards;
    content: var(--txt);
    color: white;
    position: absolute;
    left: 0;
    top: 0;
}

h1 > [data-char]:after {
    animation-name: var(--animation-name);
    animation-iteration-count: 4;
}

@keyframes glitch-switch {
    0% {
        content: var(--char-0);
    }
    10% {
        content: var(--char-1);
    }
    20% {
        content: var(--char-2);
    }
    30% {
        content: var(--char-3);
    }
    40% {
        content: var(--char-4);
    }
    50% {
        content: var(--char-5);
    }
    60% {
        content: var(--char-6);
    }
    70% {
        content: var(--char-7);
    }
    80% {
        content: var(--char-8);
    }
    90% {
        content: var(--char-9);
    }
    100% {
        content: var(--char-0);
    }
}
